@import "../assets/fonts/fontawesome/fontawesome-free-5.5.0-web/css/fontawesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
/*@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}*/

