.page-header {
    color: #26272d;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}


.page-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}